/* My Styles */

body{
    margin: 0;
}
h1{
    font-family: 'Zina-Regular';
    font-size: 80pt;
    text-align: center;
}
h2{
    font-family: 'ClashGrotesk-Semibold';
    font-size: 40pt;
    text-align: center;
}